<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Project1TestSuite" parallel="false">

    <listeners>
        <listener class-name="utils.Listener"/>
    </listeners>

    <test name="SignUpTests">
        <classes>
            <class name="tests.SignUpTests"/>
        </classes>
    </test>

    <test name="LoginTests">
        <classes>
            <class name="tests.LoginTests"/>
        </classes>
    </test>

    <test name="SessionTests">
        <classes>
            <class name="tests.SessionTests"/>
        </classes>
    </test>

    <test name="AddEditDeleteContactTests">
        <classes>
            <class name="tests.AddEdidDeleteContactTests"/>
        </classes>
    </test>

    <test name="ContactUIValidationTests">
        <classes>
            <class name="tests.ContactUIValidationTests"/>
        </classes>
    </test>

</suite>
