<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="DemoWebShop Automation Suite">

<test name="Order Tests">
        <classes>
            <class name="tests.OrderTests"/>
        </classes>
    </test>
    <test name="Register Tests">
        <classes>
            <class name="tests.RegisterTests"/>
        </classes>
    </test>

    <test name="Login Tests">
        <classes>
            <class name="tests.LoginTests"/>
        </classes>
    </test>

    <test name="Product Navigation Tests">
        <classes>
            <class name="tests.ProductNavigationTests"/>
        </classes>
    </test>

    <test name="Cart Tests">
        <classes>
            <class name="tests.CartTests"/>
        </classes>
    </test>

    <test name="Compare and Review Tests">
        <classes>
            <class name="tests.CompareandreviewTests"/>
        </classes>
    </test>

    <test name="UI Tests">
        <classes>
            <class name="tests.UITests"/>
        </classes>
    </test>

</suite>
