<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Demoblaze Automation Suite">
    
    <test name="SignUp Tests">
        <classes>
            <class name="tests.SignUpTests"/>
        </classes>
    </test>
    
   <test name="Navigation Tests">
        <classes>
            <class name="tests.ProductNavigationTests"/>
        </classes>
    </test>
    
    <test name="Cart Tests">
        <classes>
            <class name="tests.CartTests"/>
        </classes>
    </test>
    
    <test name="Login Tests">
        <classes>
            <class name="tests.LoginTests"/>
        </classes>
    </test>

    <test name="Order Tests">
        <classes>
            <class name="tests.OrderTests"/>
        </classes>
    </test>

    <test name="UI Tests">
        <classes>
            <class name="tests.UITests"/>
        </classes>
    </test>
</suite>
